<h1>Add Items </h1>

<form action="/save" method="post">
    Enter  Item Name
    <input type="text" name="item_name"><br><br>
     Enter  Item Code
    <input type="text" name="item_code"><br><br>
    
     Enter  Quantity
    <input type="number" name="quantity"><br><br>
     Enter  Price
    <input type="number" name="price"><br><br>
    
    Enter  Expiry Date
    <input type="date" name="expiry_date"><br><br>
    
    <button>Save</button>
    
    </form>
    
    <!-- CREATE TABLE inventory_management1 (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    item_name VARCHAR(100) NOT NULL,
    item_code VARCHAR(50) UNIQUE NOT NULL,
    quantity INT NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    expiry_date DATE
); -->
